body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

.hidden-number {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    color: #333;
    font-size: 2em;
    font-weight: bold;
    line-height: 100px;
    transition: color 0.3s;
}

.hidden-number:hover {
    color: #f0f8ff;
}

p {
    font-size: 1em;
    color: #666;
    margin-top: 20px;
}
button {
    grid-column: 1 / -1;
    background: var(--primary);
    border: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

button:focus {
    outline: solid 1px var(--primary);
}

input:invalid {
    color: var(--error);
    border-color: var(--error);
}

form:has(:invalid) button {
    opacity: 0.1;
    background-color: #ff0000;
}