body{
    background-color: black;
    font-family: Arial, sans-serif;
    font-size: medium;
    padding: 1rem;
}
h1{
    font-size: 3rem;
    color: white;
}
p{
    color: white;
}
em{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2rem;
}
::selection{
    background-color: white;
    color: black;
}
button {
    grid-column: 1 / -1;
    background: var(--primary);
    border: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

button:focus {
    outline: solid 1px var(--primary);
}

input:invalid {
    color: var(--error);
    border-color: var(--error);
}

form:has(:invalid) button {
    opacity: 0.1;
    background-color: #ff0000;
}
